@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* React Big Calendar 스타일 커스터마이징 */
.rbc-calendar {
  font-family: inherit;
}

.rbc-event {
  background-color: #4285f4;
  border-radius: 4px;
  padding: 2px 5px;
}

.rbc-event.leave-full {
  background-color: #ea4335;
}

.rbc-event.leave-am {
  background-color: #fbbc04;
}

.rbc-event.leave-pm {
  background-color: #34a853;
}

.rbc-today {
  background-color: #f0f7ff;
}
